# This file contains pin mappings for the stock 2022 Creality Ender 3
# V2 Neo. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# This also works for the GD32F303 based Creality 4.2.2 board.

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]
[include macros_config.cfg]
[include timelapse.cfg]
[include TEST_SPEED.cfg]
[include KlackEnder.cfg]
# [include smart-m600.cfg]

[temperature_sensor Printer_Motherboard]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 80

# [temperature_sensor Pi]
# sensor_type: temperature_host
# min_temp: 0
# max_temp: 80

[mcu rpi]
serial: /tmp/klipper_host_mcu

[temperature_sensor Raspberry_Pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 80

# Run this command to check for new Temp sensors: ls /sys/bus/w1/devices/

[temperature_sensor PSU]
sensor_type: DS18B20
sensor_mcu: rpi
serial_no: 28-1dc4d44619fe

[temperature_sensor Y-Axis_Stepper]
sensor_type: DS18B20
sensor_mcu: rpi
serial_no: 28-5f10d4458138

[filament_switch_sensor RunoutSensor]
pause_on_runout: False
runout_gcode:
    {% for i in range(10) %}
      M300 P100 S1
    {% endfor %}
    M600
# insert_gcode: 
#     FILAMENT_LOAD
#     G1 E100 F50
#     RESUME
event_delay: 10
switch_pin: ^rpi:gpio23

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_min: 0
# position_max: 225
position_max: 235 #klack probe docking position
# position_max: 210 #klack probe unaffected safe position
homing_speed: 80
second_homing_speed: 20

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: -10
position_min: -10
position_max: 225
homing_speed: 80
second_homing_speed: 20

[stepper_z]
step_pin: PB6
dir_pin: PB5
enable_pin: !PC3
microsteps: 16
# rotation_distance: 8
rotation_distance: 40
gear_ratio: 80:16
endstop_pin: probe:z_virtual_endstop
# endstop_pin: ^PA7
# position_endstop: 0
# position_min: -6.235
position_min: -5
position_max: 230
homing_speed: 10
second_homing_speed: 1
homing_retract_dist: 2.0

[extruder]
max_extrude_only_distance: 100.0
min_extrude_temp: 180  #for filament change
max_extrude_cross_section: 2.4
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
# rotation_distance: 31.26 #PLA
# rotation_distance: 30.278 #PETG
# After BMG conversion
# rotation_distance: 7.63 #PLA
rotation_distance: 7.40 #ASA
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
# tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
#after extruder modification
min_temp: 0
max_temp: 300
# pressure_advance: 0.37 #Petg
# pressure_advance: 0.30 #pla
pressure_advance: 0.095 #PLA after DDE conversion
pressure_advance_smooth_time: 0.040000

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 70 degree Celsius target
#pid_kp: 70.405
#pid_ki: 1.229
#pid_kd: 1008.553
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[input_shaper]
shaper_freq_x: 44.6
shaper_type_x: ei
# shaper_freq_y: 40.8
# shaper_type_y: ei
shaper_freq_y: 34.4
shaper_type_y: mzv

[printer]
kinematics: cartesian
max_velocity: 300
# max_accel: 3000
max_accel: 10000
minimum_cruise_ratio: 0
max_z_velocity: 40 #after belt driven mod, before it was 5.0
square_corner_velocity: 5.0
max_z_accel: 150

# [bltouch]
# sensor_pin: ^PROBE_IN
# control_pin: PROBE_OUT
# # x_offset: -45.0
# x_offset: -53.19 #new dual 5015 hotend duct mod
# y_offset: -10.0
# #z_offset: 0
# probe_with_touch_mode: true
# stow_on_each_sample: false
# speed: 15
# samples: 1
# sample_retract_dist: 8.0

# [safe_z_home]
# # home_xy_position: 150,120
# home_xy_position: 160,120 #new hotend mod
# speed: 300
# z_hop: 10
# z_hop_speed: 10

[bed_mesh]
speed: 120
mesh_min: 25,30         # Need to handle head distance with cr-touch (bl_touch)
mesh_max: 210,190       # Max probe range
probe_count: 5,5
fade_start: 1
fade_end: 10
fade_target: 0
algorithm: bicubic

[bed_screws]
screw1:30,25
screw1_name:1
screw2:200,25
screw2_name:2
screw3:200,195
screw3_name:3
screw4:30,195
screw4_name:4

[screws_tilt_adjust]
screw1: 74, 35
screw1_name: front left screw
screw2: 214, 35
screw2_name: front right screw
screw3: 214, 205
screw3_name: rear right screw
screw4: 74, 205
screw4_name: rear left screw
horizontal_move_z: 10
speed: 200
screw_thread: CW-M4 # Use CW for Clockwise and CCW for Counter Clockwise

# [display]
# The Ender 3 v2 Neo's 4.3" LCD display is not supported by klipper

######################################################################
# 128x64 Full Graphic Creality CR10 / ENDER 3 stockdisplay
######################################################################

# This section is used for a Creality "12864" display with a single
# ribbon cable between the display's EXP3 plug and the
# micro-controller board's EXP1 connector.

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

[output_pin beeper]
pin: EXP1_1

# [output_pin beeper]
# pin: PB13

[board_pins]
aliases:
  EXP1_1=PC6,EXP1_3=PB10,EXP1_5=PB14,EXP1_7=PB12,EXP1_9=<GND>,
  EXP1_2=PB2,EXP1_4=PB11,EXP1_6=PB13,EXP1_8=PB15,EXP1_10=<5V>,
  PROBE_IN=PB1,PROBE_OUT=PB0,FIL_RUNOUT=PC6

[display_status]

# [mpu9250]
# i2c_mcu: rpi
# i2c_bus: i2c.1

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
    112, 110, 20  #around in the middle

[gcode_macro change_tune]
description: Change filament tune
gcode:
    M300 S440 P200
    M300 S660 P250
    M300 S880 P300

[gcode_macro SET_ACTIVE_SPOOL]
gcode:
  {% if params.ID %}
    {% set id = params.ID|int %}
      {action_call_remote_method("spoolman_set_active_spool", spool_id=id)}
  {% else %}
    {action_respond_info("Parameter 'ID' is required")}
  {% endif %}
  
[gcode_macro CLEAR_ACTIVE_SPOOL]
gcode:
  {action_call_remote_method("spoolman_set_active_spool", spool_id=None)}

[include moonraker_obico_macros.cfg]

[idle_timeout]
timeout: 600 #in seconds
gcode:
  _KM_IDLE_TIMEOUT
  M84
  TURN_OFF_HEATERS
  STATUS

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.933
#*# pid_ki = 1.355
#*# pid_kd = 80.853
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 70.509
#*# pid_ki = 1.218
#*# pid_kd = 1020.623
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.043234, -0.014484, -0.020734, -0.038234, -0.055734
#*# 	  -0.005734, 0.005516, -0.018234, -0.021984, -0.008234
#*# 	  0.016766, 0.014266, -0.010734, -0.006984, -0.013234
#*# 	  0.060516, 0.058016, 0.028016, 0.034266, 0.020516
#*# 	  0.121766, 0.146766, 0.133016, 0.128016, 0.113016
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 4
#*# mesh_y_pps = 4
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 25.0
#*# max_x = 210.0
#*# min_y = 30.0
#*# max_y = 190.0
